{# templates/registration/register.html.twig #}
{% extends 'base03.html.twig' %}

{% block nav %}
    {% if is_granted('ROLE_SUPERVISOR') %}
        {{ include('Nav/NavSup03.html.twig') }}
    {% elseif is_granted('ROLE_EMPLOYEE') %}
        {{ include('Nav/NavEmp03.html.twig') }}
    {% elseif is_granted('ROLE_CLIENT') %}
        {{ include('Nav/NavClient03.html.twig') }}
    {% elseif is_granted('ROLE_TEACHER') %}
        {{ include('Nav/NavTeacher03.html.twig') }}
    {% endif %}
{% endblock %}

{% block title %}Client Registration {% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

    <button class='btn btn-lg btn-primary bottum' type="submit">Update</button>
{{ form_end(form) }}
{% endblock %}