{# empty Twig template #}
{% extends 'base04.html.twig' %}

{% block nav %}
    {% if is_granted('ROLE_SUPERVISOR') %}
        {{ include('Nav/NavSup04.html.twig') }}
    {% elseif is_granted('ROLE_EMPLOYEE') %}
        {{ include('Nav/NavEmp04.html.twig') }}
    {% elseif is_granted('ROLE_CLIENT') %}
        {{ include('Nav/NavClient04.html.twig') }}
    {% elseif is_granted('ROLE_TEACHER') %}
        {{ include('Nav/NavTeacher04.html.twig') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>{% endblock %}
{% block title %}Find Product{% endblock %}

{% block body %}
    <div>
        <table>
            <tr>
            <th> Name</th>
            <th> Number </th>
            <th> Edit </th>
            </tr>
            
            {% for item in AllProduct %}
            <tr><td>{{ item.firstname }}</td>
            <td>{{ item.lastname }}</td>
            <td><a href="{{path('Meeting_New04',{product :item.id })}}"><input type="button" class = "btn btn-lg  bottum" value="New Meeting"></a></td></tr>

            {% endfor %}
           
        </table>
    </div>

{% endblock %}