{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block nav %}
    {% if is_granted('ROLE_SUPERVISOR') %}
        {{ include('Nav/NavSup.html.twig') }}
    {% elseif is_granted('ROLE_EMPLOYEE') %}
        {{ include('Nav/NavEmp.html.twig') }}
    {% elseif is_granted('ROLE_CLIENT') %}
        {{ include('Nav/NavClient.html.twig') }}
    {% elseif is_granted('ROLE_TEACHER') %}
        {{ include('Nav/NavTeacher.html.twig') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>{% endblock %}
{% block title %}Client Adress{% endblock %}

{% block body %}
    <div>
        <table>
            <tr>
            <th> Date </th>
            <th> Read </th>
            <th> Open </th>
            <th> Delete </th>
            </tr>
            
            {% for item in AllSend %}
            <tr><td>{{ item.created|date("m/d/Y") }}  
                </td>
            <td>{% if item.readed == 1 %}
                Read
                {% else %}
                    Unread
                  {% endif %}  </td>
                <td><a href="{{path('Message_C_Open',{id :item.id })}}"><input type="button" class = "btn btn-lg  bottum" value="View"></a></td>

                      
                <td><a href="{{path('Delete_Client_Message',{idmessage :item.id })}}"><input type="button"  value="Delete"></a></td></tr>
                  {% endfor %}
           
        </table>
    </div>

{% endblock %}
