{# empty Twig template #}
{% extends 'base02.html.twig' %}

{% block nav %}
    {% if is_granted('ROLE_SUPERVISOR') %}
        {{ include('Nav/NavSup02.html.twig') }}
    {% elseif is_granted('ROLE_EMPLOYEE') %}
        {{ include('Nav/NavEmp02.html.twig') }}
    {% elseif is_granted('ROLE_CLIENT') %}
        {{ include('Nav/NavClient02.html.twig') }}
    {% elseif is_granted('ROLE_TEACHER') %}
        {{ include('Nav/NavTeacher02.html.twig') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>{% endblock %}
{% block title %}Find Employee{% endblock %}

{% block body %}
    <div>
        <table>
            <tr>
            <th> First name</th>
            <th> Last name </th>            
            <th> Edit </th>
            </tr>
            
            {% for item in AllEmployee %}
            <tr><td>{{ item.firstname }}</td>
            <td>{{ item.lastname }}</td>
            <td><a href="{{path('Client_Sup_personalinfo02',{employeeid : item.id })}}"><input type="button"  value="Create Client"></a></td></tr>

            {% endfor %}
           
        </table>
    </div>

{% endblock %}