{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block nav %}
    {% if is_granted('ROLE_SUPERVISOR') %}
        {{ include('Nav/NavSup.html.twig') }}
    {% elseif is_granted('ROLE_EMPLOYEE') %}
        {{ include('Nav/NavEmp.html.twig') }}
    {% elseif is_granted('ROLE_CLIENT') %}
        {{ include('Nav/NavClient.html.twig') }}
    {% elseif is_granted('ROLE_TEACHER') %}
        {{ include('Nav/NavTeacher.html.twig') }}
    {% endif %}
{% endblock %}


{% block title %}Employee Adress{% endblock %}

{% block body %}
{{ form_start(form) }}
<fieldset>
<legend>Adress Employee</legend>
<div class ="row">
    {{ form_label(form.country) }}
    {{ form_errors(form.country) }}
    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
</div>

<div class ="row">
    {{ form_label(form.state) }}
    {{ form_errors(form.state) }}
    {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}
</div>
    <div class ="row">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class ="row">
    {{ form_label(form.adress) }}
    {{ form_errors(form.adress) }}
    {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
</div>
<div class ="row">
    {{ form_label(form.zipcode) }}
    {{ form_errors(form.zipcode) }}
    {{ form_widget(form.zipcode, {'attr': {'class': 'form-control'}}) }}
</div>
</fieldset>  
{{ form_end(form) }}
{% endblock %}