
            <!--  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                       <a class="nav-link" href="{{path('All_Welcome03')}}">Home <span class="sr-only">(current)</span></a>
                     </li>
                    <li class="nav-item ">
                        &nbsp &nbsp &nbsp &nbsp
                    </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_New03')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Client_New03')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_AllClient03')}}">All client</a>
                        </div>
                    </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_New03')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Employee_New03')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllEmployee03')}}">All Employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Agenda_month03')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agenda</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Agenda_dayagenda03')}}">Day</a>
                            <a class="dropdown-item" href="#">Week</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_personalinfo03')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Client_personalinfo03')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiClient03')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_Personalinformation03')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Employee_Personalinformation03')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiEmployee03')}}">All Employee</a>
                        </div>
                    </li>-->
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('security_change_pasword_client')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('security_change_pasword_client ')}}">Update my password</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_editpersonalinfo03',{idclient : app.user.clientid })}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple Client Info </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Client_editpersonalinfo03',{idclient : app.user.clientid })}}">Multiple Info</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_EditNew03',{idClient : app.user.clientid })}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client Info </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Client_EditNew03',{idClient:app.user.clientid})}}">Client Info </a>							
                        </div>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Message_Client03')}}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Messages</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="{{path('Message_Client03')}}">New Message</a>
                            <a class="dropdown-item" href="{{path('Search_Send03')}}">Display Message</a>
							
                        </div>
                    </li>
             <!--    </ul>
               
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
               
            </div> -->