
            <!--  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                       <a class="nav-link" href="{{path('All_Welcome04')}}">Home <span class="sr-only">(current)</span></a>
                     </li>
                    <li class="nav-item ">
                        &nbsp &nbsp &nbsp &nbsp
                    </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_New04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Client_New04')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_AllClient04')}}">All client</a>
                        </div>
                    </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_New04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Employee_New04')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllEmployee04')}}">All Employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Agenda_month04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agenda</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Agenda_dayagenda04')}}">Day</a>
                            <a class="dropdown-item" href="#">Week</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_personalinfo04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Client_personalinfo04')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiClient04')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_Personalinformation04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Employee_Personalinformation04')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiEmployee04')}}">All Employee</a>
                        </div>
                    </li>-->
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('security_change_pasword_client')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('security_change_pasword_client')}}">Update my password</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_editpersonalinfo04',{idclient : app.user.clientid })}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple Client Info </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Client_editpersonalinfo04',{idclient : app.user.clientid })}}">Multiple Info</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_EditNew04',{idClient : app.user.clientid })}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client Info </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Client_EditNew04',{idClient:app.user.clientid})}}">Client Info </a>							
                        </div>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Message_Client04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Messages</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Message_Client04')}}">New Message</a>
                            <a class="dropdown-item" href="{{path('Search_Send04')}}">Display Message</a>
							
                        </div>
                    </li>
             <!--    </ul>
               
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
               
            </div> -->