
          
                    <li class="nav-item ">
                        &nbsp &nbsp &nbsp &nbsp
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Search_Sup_AllEmployee04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Search_Sup_AllEmployee04')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_Sup_AllClient04')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_New04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Employee_New04')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllEmployee04')}}">All Employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Agenda_month04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meeting</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Search_Sup_NewClient04')}}">New Meeting</a>
                            <!-- <a class="dropdown-item" href="#">Week</a>-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Search_Sup_AllmultiEmployee04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Search_Sup_AllmultiEmployee04')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_Sup_AllmultiClient04')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_Personalinformation04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Employee_Personalinformation04')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiEmployee04')}}">All Employee</a>
                        </div>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('User_Client04')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('User_Employee04')}}">Create user as Client</a>
                            <a class="dropdown-item" href="{{path('User_Employee04')}}">Create user as Employee</a>
                            <a class="dropdown-item" href="{{path('security_change_pasword_employee')}}">Update my password</a>
							<a class="dropdown-item" href="{{path('Search_AllUser04')}}">Manage user</a>
                        </div>
                    </li>
                </ul>
                <!--
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
                -->
            </div>
 