
          
                    <li class="nav-item ">
                        &nbsp &nbsp &nbsp &nbsp
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Search_Sup_AllEmployee01')}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{path('Search_Sup_AllEmployee01')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_Sup_AllClient01')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_New01')}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{path('Employee_New01')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllEmployee01')}}">All Employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Agenda_month01')}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meeting</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{path('Search_Sup_NewClient01')}}">New Meeting</a>
                            <!-- <a class="dropdown-item" href="#">Week</a>-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Search_Sup_AllmultiEmployee01')}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{path('Search_Sup_AllmultiEmployee01')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_Sup_AllmultiClient01')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_Personalinformation01')}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{path('Employee_Personalinformation01')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiEmployee01')}}">All Employee</a>
                        </div>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('User_Client01')}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{path('User_Client01')}}">Create user as Client</a>
                            <a class="dropdown-item" href="{{path('User_Employee01')}}">Create user as Employee</a>
                            <a class="dropdown-item" href="{{path('security_change_pasword_employee')}}">Update my password</a>
							<a class="dropdown-item" href="{{path('Search_AllUser01')}}">Manage user</a>
                        </div>
                    </li>
                </ul>
                <!--
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
                -->
            </div>
 