
          
                    <li class="nav-item ">
                        &nbsp &nbsp &nbsp &nbsp
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Search_Sup_AllEmployee02')}}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{{path('Search_Sup_AllEmployee02')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_Sup_AllClient02')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_New02')}}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{{path('Employee_New02')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllEmployee02')}}">All Employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Agenda_month02')}}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meeting</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{{path('Search_Sup_NewClient02')}}">New Meeting</a>
                            <!-- <a class="dropdown-item" href="#">Week</a>-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Search_Sup_AllmultiEmployee02')}}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{{path('Search_Sup_AllmultiEmployee02')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_Sup_AllmultiClient02')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_Personalinformation02')}}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{{path('Employee_Personalinformation02')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiEmployee02')}}">All Employee</a>
                        </div>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('User_Client02')}}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{{path('User_Client02')}}">Create user as Client</a>
                            <a class="dropdown-item" href="{{path('User_Employee02')}}">Create user as Employee</a>
                            <a class="dropdown-item" href="{{path('security_change_pasword_employee')}}">Update my password</a>
							<a class="dropdown-item" href="{{path('Search_AllUser02')}}">Manage user</a>
                        </div>
                    </li>
                </ul>
                <!--
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
                -->
            </div>
 