
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_New')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Client_New')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_AllClient')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_New')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Employee_New')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllEmployee')}}">All Employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Agenda_month')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agenda</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Agenda_dayagenda')}}">Day</a>
                            <!-- <a class="dropdown-item" href="#">Week</a>-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Client_personalinfo')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Client</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Client_personalinfo')}}">New client</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiClient')}}">All client</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('Employee_Personalinformation')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Multiple entree Employee</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Employee_Personalinformation')}}">New Employee</a>
                            <a class="dropdown-item" href="{{path('Search_AllmultiEmployee')}}">All Employee</a>
                        </div>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{path('User_Client')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('User_Client')}}">Create user Client</a>
                            <a class="dropdown-item" href="{{path('User_Employee')}}">Create user Employee</a>
							<a class="dropdown-item" href="{{path('Search_AllUser')}}">Manage user</a>
                        </div>
                    </li>
					<li class="nav-item dropdown">
										<!--section for client -->
                        <a class="nav-link dropdown-toggle" href="{{path('Message_Client')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Message</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Message_Client')}}">New Message</a>
                            <a class="dropdown-item" href="{{path('Message_Send')}}">All Send</a>
                        </div>
                    </li>
					<li class="nav-item dropdown">
					<!--section for employee -->
                        <a class="nav-link dropdown-toggle" href="{{path('Message_Recieved')}}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Message</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{path('Message_Recieved')}}">All Recevied</a>
                 
                        </div>
                    </li>